<div class="sidebar-content" id="sidebar">
    <div class="sidebar-logo">
        <i class="fas fa-fire"></i>
        <h3>RedAdmin</h3>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a href="#" class="active" data-route="dashboard">
                <i class="fas fa-home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#" data-route="profile">
                <i class="fas fa-user-circle"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a href="#" data-route="employees">
                <i class="fas fa-table"></i>
                <span>Employee</span>
            </a>
        </li>
        <li>
            <a href="#" data-route="categories">
                <i class="fas fa-edit"></i>
                <span>Category</span>
            </a>
        </li>
        <li>
            <a href="#" data-route="assets">
                <i class="fas fa-edit"></i>
                <span>Asset</span>
            </a>
        </li>
        <li>
            <a href="#" data-route="transactions">
                <i class="fas fa-edit"></i>
                <span>Asset Transaction</span>
            </a>
        </li>
         <li>
            <a href="#" data-route="reports">
                <i class="fas fa-file-alt"></i>
                <span>Reports</span>
            </a>
        </li>
        
        <!-- <li class="has-submenu">
            <a href="#" class="submenu-toggle">
                <i class="fas fa-folder"></i>
                <span>Pages</span>
                <i class="fas fa-chevron-down submenu-arrow"></i>
            </a>
            <ul class="submenu">
                <li><a href="#" data-route="login">Login</a></li>
                <li><a href="#" data-route="register">Register</a></li>
                <li><a href="#" data-route="forgot-password">Forgot Password</a></li>
                <li><a href="#" data-route="error404">404 Error</a></li>
                <li><a href="#" data-route="error500">500 Error</a></li>
                <li><a href="#" data-route="maintenance">Maintenance</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-route="components">
                <i class="fas fa-th-large"></i>
                <span>UI Components</span>
                <span class="badge bg-success">New</span>
            </a>
        </li>
        <li>
            <a href="#" data-route="buttons">
                <i class="fas fa-mouse-pointer"></i>
                <span>Buttons</span>
                <span class="badge bg-danger">New</span>
            </a>
        </li> -->
    </ul>
</div>
